In [36]:
import pandas;
from sklearn.model_selection import train_test_split;
import tensorflow;
from tensorflow.keras.layer import INput

In [37]:
dataframe = pandas.read_csv("loan_data.csv");

dataframe.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

# Data Initialization

THis step pre-process the whole data by encode the data as step below:

1. Drop na
2. Binary Encode Gender, Married, Education, and Loan_Status
3. Define whole_feature by disclude Loan_ID, and Loan_Status
4. Define whole_label by including only Loan_Status

Drop Loan_ID and Loan_Status for the whole_feature

In [38]:
dataframe = dataframe.dropna();
dataframe = dataframe.replace({
    "Gender": {"Male":1,"Female" :0}, 
    "Married": {"Yes": 1, "No": 0}, 
    "Education": {"Graduate": 1, "Not Graduate": 0}, 
    "Loan_Status": {"Y": 1, "N": 0}}
);

whole_feature = dataframe.drop(columns = ["Loan_ID", "Loan_Status"]);
whole_label = dataframe["Loan_Status"];

feature_train, feature_test, label_train, label_test = train_test_split(whole_feature, whole_label, train_size = 0.7, test_size = 0.3, random_state = 42);
feature_test, feature_val, label_test, label_val =train_test_split(feature_test, label_test, train_size = 0.5, test_size = 0.5, random_state = 42);

feature_train.shape, feature_test.shape, feature_val.shape, label_train.shape, label_test.shape, label_val.shape

((215, 11), (46, 11), (47, 11), (215,), (46,), (47,))

In [39]:
class ANNModel():
    def __init__(self):
        self.input =