In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('Customers.csv')

In [3]:
df.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [4]:
df.shape

(2000, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB

In [6]:
df['Profession'].value_counts()

Profession
Artist           612
Healthcare       339
Entertainment    234
Engineer         179
Doctor           161
Executive        153
Lawyer           142
Marketing         85
Homemaker         60
Name: count, dtype: int64

In [7]:
df.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)', 'Profession', 'Work Experience',
       'Family Size'],
      dtype='object')

In [8]:
#prepare the data to take only numerical featrures and separate input and target
df_input=df[['CustomerID', 'Gender', 'Age', 'Annual Income ($)', 'Profession', 'Work Experience','Family Size']]
df_target=df[['Spending Score (1-100)']]

#split training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_input, df_target, test_size=0.2, random_state=42)

In [9]:
X_train['Profession'].fillna('others', inplace=True)
X_test['Profession'].fillna('others', inplace=True)

In [10]:
#encode non numeric data into numeric data
#encode Gender
train_encode={"Gender": {"Male":1,"Female" :0}}
test_encode={"Gender": {"Male":1,"Female" :0}}

#replace categorical value into numerical value
X_train=X_train.replace(train_encode)
X_test=X_test.replace(test_encode)

In [11]:
from sklearn.preprocessing import OneHotEncoder
#encoded profession for training data
x=X_train[['Profession']]
train_encoded=OneHotEncoder()
train_data=pd.DataFrame(train_encoded.fit_transform(x).toarray(),columns=train_encoded.get_feature_names_out())
X_train=X_train.reset_index()
X_train_enc=pd.concat([X_train,train_data], axis=1)

In [12]:
X_train_enc.head()

,index,CustomerID,Gender,Age,Annual Income ($),Profession,Work Experience,Family Size,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_others
0,968,969,1,32,186897,Healthcare,1,7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,240,241,1,92,83000,Executive,1,5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,819,820,0,19,117477,Healthcare,6,7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,692,693,1,83,132005,Entertainment,0,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,420,421,1,89,122430,Healthcare,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [13]:
#encoded profession for testing data
y=X_test[['Profession']]
test_data=pd.DataFrame(train_encoded.transform(y).toarray(),columns=train_encoded.get_feature_names_out())
X_test=X_test.reset_index()
X_test_enc=pd.concat([X_test,test_data], axis=1)

In [14]:
X_test_enc.head()

,index,CustomerID,Gender,Age,Annual Income ($),Profession,Work Experience,Family Size,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_others
0,1860,1861,1,32,104494,Healthcare,6,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,353,354,1,23,181760,Healthcare,14,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1333,1334,0,97,133614,Artist,7,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,905,906,0,66,118385,Healthcare,10,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1289,1290,0,75,86297,Executive,9,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
X_train_enc.columns

Index(['index', 'CustomerID', 'Gender', 'Age', 'Annual Income ($)',
       'Profession', 'Work Experience', 'Family Size', 'Profession_Artist',
       'Profession_Doctor', 'Profession_Engineer', 'Profession_Entertainment',
       'Profession_Executive', 'Profession_Healthcare', 'Profession_Homemaker',
       'Profession_Lawyer', 'Profession_Marketing', 'Profession_others'],
      dtype='object')

In [16]:
X_train_enc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     1600 non-null   int64
 1   CustomerID                1600 non-null   int64
 2   Gender                    1600 non-null   int64
 3   Age                       1600 non-null   int64
 4   Annual Income ($)         1600 non-null   int64
 5   Profession                1600 non-null   object
 6   Work Experience           1600 non-null   int64
 7   Family Size               1600 non-null   int64
 8   Profession_Artist         1600 non-null   float64
 9   Profession_Doctor         1600 non-null   float64
 10  Profession_Engineer       1600 non-null   float64
 11  Profession_Entertainment  1600 non-null   float64
 12  Profession_Executive      1600 non-null   float64
 13  Profession_Healthcare     1600 non-null   float64
 14  Profession_Homemaker      1600 non-null   float64
 15  Profession_Lawyer         1600 non-null   float64
 16  Profession_Marketing      1600 non-null   float64
 17  Profession_others         1600 non-null   float64
dtypes: float64(10), int64(7), object(1)
memory usage: 225.1+ KB

In [17]:
X_train_enc=X_train_enc[['Gender', 'Age', 'Annual Income ($)','Work Experience', 'Family Size', 'Profession_Artist',
                         'Profession_Doctor', 'Profession_Engineer', 'Profession_Entertainment',
                         'Profession_Executive', 'Profession_Healthcare', 'Profession_Homemaker',
                         'Profession_Lawyer', 'Profession_Marketing', 'Profession_others']]
X_test_enc=X_test_enc[['Gender', 'Age', 'Annual Income ($)','Work Experience', 'Family Size', 'Profession_Artist',
                         'Profession_Doctor', 'Profession_Engineer', 'Profession_Entertainment',
                         'Profession_Executive', 'Profession_Healthcare', 'Profession_Homemaker',
                         'Profession_Lawyer', 'Profession_Marketing', 'Profession_others']]

In [25]:
from sklearn.neural_network import MLPRegressor
model_reg = MLPRegressor( hidden_layer_sizes=(16,16),activation='logistic',solver='sgd',learning_rate_init=1e-3,random_state=42)
#Sklearn cannot handle different activation function for each hidden
model_reg.fit(X_train_enc, y_train)

MLPRegressor(activation='logistic', hidden_layer_sizes=(16, 16),
             random_state=42, solver='sgd')

In [26]:
train_result=model_reg.predict(X_train_enc)

In [27]:
test_result=model_reg.predict(X_test_enc)

In [28]:
#calculate error for training and testing
from sklearn import metrics
from sklearn.metrics import r2_score
print("R2 train: ",r2_score(train_result,y_train))
print("error_train: ",metrics.mean_absolute_error(train_result,y_train))

print("R2 test: ",r2_score(test_result,y_test))
print("error_test: ",metrics.mean_absolute_error(test_result,y_test))

R2 train:  -2047135.2120263353
error_train:  23.806850303047284
R2 test:  0.0
error_test:  23.480381394030264