In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('Customers.csv')

In [4]:
df.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [5]:
df.shape

(2000, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB

In [7]:
df['Profession'].value_counts()

Profession
Artist           612
Healthcare       339
Entertainment    234
Engineer         179
Doctor           161
Executive        153
Lawyer           142
Marketing         85
Homemaker         60
Name: count, dtype: int64

In [8]:
df.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income ($)',
       'Spending Score (1-100)', 'Profession', 'Work Experience',
       'Family Size'],
      dtype='object')

In [9]:
#prepare the data to take only numerical featrures and separate input and target
df_input=df[['CustomerID', 'Gender', 'Age', 'Annual Income ($)', 'Profession', 'Work Experience','Family Size']]
df_target=df[['Spending Score (1-100)']]

#split training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_input, df_target, test_size=0.2, random_state=42)

In [10]:
X_train['Profession'].fillna('others', inplace=True)
X_test['Profession'].fillna('others', inplace=True)

In [11]:
#encode non numeric data into numeric data
#encode Gender
train_encode={"Gender": {"Male":1,"Female" :0}}
test_encode={"Gender": {"Male":1,"Female" :0}}

#replace categorical value into numerical value
X_train=X_train.replace(train_encode)
X_test=X_test.replace(test_encode)

In [12]:
from sklearn.preprocessing import OneHotEncoder
#encoded profession for training data
x=X_train[['Profession']]
train_encoded=OneHotEncoder()
train_data=pd.DataFrame(train_encoded.fit_transform(x).toarray(),columns=train_encoded.get_feature_names_out())
X_train=X_train.reset_index()
X_train_enc=pd.concat([X_train,train_data], axis=1)

In [13]:
X_train_enc.head()

,index,CustomerID,Gender,Age,Annual Income ($),Profession,Work Experience,Family Size,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_others
0,968,969,1,32,186897,Healthcare,1,7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,240,241,1,92,83000,Executive,1,5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,819,820,0,19,117477,Healthcare,6,7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,692,693,1,83,132005,Entertainment,0,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,420,421,1,89,122430,Healthcare,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [14]:
#encoded profession for testing data
y=X_test[['Profession']]
test_data=pd.DataFrame(train_encoded.transform(y).toarray(),columns=train_encoded.get_feature_names_out())
X_test=X_test.reset_index()
X_test_enc=pd.concat([X_test,test_data], axis=1)

In [15]:
X_test_enc.head()

,index,CustomerID,Gender,Age,Annual Income ($),Profession,Work Experience,Family Size,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_others
0,1860,1861,1,32,104494,Healthcare,6,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,353,354,1,23,181760,Healthcare,14,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1333,1334,0,97,133614,Artist,7,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,905,906,0,66,118385,Healthcare,10,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1289,1290,0,75,86297,Executive,9,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [16]:
X_train_enc.columns

Index(['index', 'CustomerID', 'Gender', 'Age', 'Annual Income ($)',
       'Profession', 'Work Experience', 'Family Size', 'Profession_Artist',
       'Profession_Doctor', 'Profession_Engineer', 'Profession_Entertainment',
       'Profession_Executive', 'Profession_Healthcare', 'Profession_Homemaker',
       'Profession_Lawyer', 'Profession_Marketing', 'Profession_others'],
      dtype='object')

In [17]:
X_train_enc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     1600 non-null   int64
 1   CustomerID                1600 non-null   int64
 2   Gender                    1600 non-null   int64
 3   Age                       1600 non-null   int64
 4   Annual Income ($)         1600 non-null   int64
 5   Profession                1600 non-null   object
 6   Work Experience           1600 non-null   int64
 7   Family Size               1600 non-null   int64
 8   Profession_Artist         1600 non-null   float64
 9   Profession_Doctor         1600 non-null   float64
 10  Profession_Engineer       1600 non-null   float64
 11  Profession_Entertainment  1600 non-null   float64
 12  Profession_Executive      1600 non-null   float64
 13  Profession_Healthcare     1600 non-null   float64
 14  Profession_Homemaker      1600 non-null   float64
 15  Profession_Lawyer         1600 non-null   float64
 16  Profession_Marketing      1600 non-null   float64
 17  Profession_others         1600 non-null   float64
dtypes: float64(10), int64(7), object(1)
memory usage: 225.1+ KB

In [29]:
X_train_enc=X_train_enc[['Gender', 'Age', 'Annual Income ($)','Work Experience', 'Family Size', 'Profession_Artist',
                         'Profession_Doctor', 'Profession_Engineer', 'Profession_Entertainment',
                         'Profession_Executive', 'Profession_Healthcare', 'Profession_Homemaker',
                         'Profession_Lawyer', 'Profession_Marketing', 'Profession_others']]
X_test_enc=X_test_enc[['Gender', 'Age', 'Annual Income ($)','Work Experience', 'Family Size', 'Profession_Artist',
                         'Profession_Doctor', 'Profession_Engineer', 'Profession_Entertainment',
                         'Profession_Executive', 'Profession_Healthcare', 'Profession_Homemaker',
                         'Profession_Lawyer', 'Profession_Marketing', 'Profession_others']]

In [34]:
import keras
from tensorflow.keras.models import Sequential
import tensorflow as tf
model = keras.models.Sequential()
model.add(tf.keras.Input(shape=(15,)))
#Dense implements the operation: output = activation(dot(input, kernel) + bias)
model.add(keras.layers.Dense(16, activation='sigmoid'))
model.add(keras.layers.Dense(15, activation='sigmoid'))
model.add(keras.layers.Dense(1,   activation='linear'))
model.compile(optimizer="sgd",loss='mse',metrics=[keras.metrics.RootMeanSquaredError(), 'mae', 'mape'])
print(model.summary())

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 16)                256

 dense_19 (Dense)            (None, 15)                255

 dense_20 (Dense)            (None, 1)                 16

=================================================================
Total params: 527 (2.06 KB)
Trainable params: 527 (2.06 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
None

In [35]:
model.fit(X_train_enc, y_train, epochs=20, verbose=2)

Epoch 1/20
50/50 - 1s - loss: 922.4849 - root_mean_squared_error: 30.3724 - mae: 25.3220 - mape: 57409128.0000 - 508ms/epoch - 10ms/step
Epoch 2/20
50/50 - 0s - loss: 789.9424 - root_mean_squared_error: 28.1059 - mae: 23.9378 - mape: 63700464.0000 - 57ms/epoch - 1ms/step
Epoch 3/20
50/50 - 0s - loss: 787.3842 - root_mean_squared_error: 28.0604 - mae: 23.8433 - mape: 62203480.0000 - 67ms/epoch - 1ms/step
Epoch 4/20
50/50 - 0s - loss: 787.8674 - root_mean_squared_error: 28.0690 - mae: 23.8706 - mape: 64960792.0000 - 64ms/epoch - 1ms/step
Epoch 5/20
50/50 - 0s - loss: 791.8283 - root_mean_squared_error: 28.1394 - mae: 23.9080 - mape: 63055912.0000 - 62ms/epoch - 1ms/step
Epoch 6/20
50/50 - 0s - loss: 787.5417 - root_mean_squared_error: 28.0632 - mae: 23.8514 - mape: 65054924.0000 - 62ms/epoch - 1ms/step
Epoch 7/20
50/50 - 0s - loss: 789.7460 - root_mean_squared_error: 28.1024 - mae: 23.8677 - mape: 63298464.0000 - 62ms/epoch - 1ms/step
Epoch 8/20
50/50 - 0s - loss: 786.9384 - root_mean_squared_error: 28.0524 - mae: 23.8697 - mape: 63338276.0000 - 81ms/epoch - 2ms/step
Epoch 9/20
50/50 - 0s - loss: 791.1994 - root_mean_squared_error: 28.1283 - mae: 23.9209 - mape: 58671304.0000 - 82ms/epoch - 2ms/step
Epoch 10/20
50/50 - 0s - loss: 792.1640 - root_mean_squared_error: 28.1454 - mae: 23.9488 - mape: 65832412.0000 - 81ms/epoch - 2ms/step
Epoch 11/20
50/50 - 0s - loss: 790.8630 - root_mean_squared_error: 28.1223 - mae: 23.9546 - mape: 63184500.0000 - 102ms/epoch - 2ms/step
Epoch 12/20
50/50 - 0s - loss: 784.0081 - root_mean_squared_error: 28.0001 - mae: 23.8448 - mape: 61418548.0000 - 76ms/epoch - 2ms/step
Epoch 13/20
50/50 - 0s - loss: 786.3544 - root_mean_squared_error: 28.0420 - mae: 23.8334 - mape: 64522128.0000 - 71ms/epoch - 1ms/step
Epoch 14/20
50/50 - 0s - loss: 788.9250 - root_mean_squared_error: 28.0878 - mae: 23.9167 - mape: 62674192.0000 - 72ms/epoch - 1ms/step
Epoch 15/20
50/50 - 0s - loss: 789.4084 - root_mean_squared_error: 28.0964 - mae: 23.8532 - mape: 61140700.0000 - 75ms/epoch - 2ms/step
Epoch 16/20
50/50 - 0s - loss: 791.9772 - root_mean_squared_error: 28.1421 - mae: 23.9441 - mape: 64679824.0000 - 88ms/epoch - 2ms/step
Epoch 17/20
50/50 - 0s - loss: 791.2842 - root_mean_squared_error: 28.1298 - mae: 23.8998 - mape: 61100916.0000 - 83ms/epoch - 2ms/step
Epoch 18/20
50/50 - 0s - loss: 787.4168 - root_mean_squared_error: 28.0609 - mae: 23.8742 - mape: 66925912.0000 - 71ms/epoch - 1ms/step
Epoch 19/20
50/50 - 0s - loss: 787.6623 - root_mean_squared_error: 28.0653 - mae: 23.8903 - mape: 65969248.0000 - 73ms/epoch - 1ms/step
Epoch 20/20
50/50 - 0s - loss: 789.8478 - root_mean_squared_error: 28.1042 - mae: 23.8944 - mape: 63075096.0000 - 71ms/epoch - 1ms/step

In [39]:
test_result=model.predict(X_test_enc)

13/13 [==============================] - 0s 2ms/step

In [40]:
#calculate error for training and testing
from sklearn import metrics
from sklearn.metrics import r2_score

print("R2 test: ",r2_score(test_result,y_test))
print("error_test: ",metrics.mean_absolute_error(test_result,y_test))

R2 test:  0.0
error_test:  23.661467666625978